In [44]:
import pandas as pd
new= pd.read_csv('results-20210328-145126.csv')
new.tail(5)

    Geohash7  Latitude   Longitude
179  w21z8fc  1.334152  103.745956
180  w21z8dv  1.334152  103.740463
181  w21z8dy  1.334152  103.741837
182  w21z8dz  1.334152  103.743210
183  w21z8eq  1.336899  103.741837

In [10]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [23]:
import pandas as pd
data = [['Alex',10,2],['Bob',12,3],['Clarke',13,4]]
df = pd.DataFrame(data,columns=['Name','Age','height'])
print(df)

     Name  Age  height
0    Alex   10       2
1     Bob   12       3
2  Clarke   13       4